<%
=begin%>
 <p style="color: green"><%= notice %></p>
<%
=end%>

<h1>Relat칩rio</h1>

<%= render @report_day %>

<div>
  <%= link_to "Editar este Relat칩rio", edit_report_day_path(@report_day) %> |
  <%= link_to "Voltar para Relat칩rios Di치rios", report_days_path %>
<br>
<br>
  <%= button_to "Deletar", @report_day, method: :delete %>
</div>
