<div id="<%= dom_id report_month %>">
  <p>
    <strong><%=t('report_month.month')%></strong>
    <%= report_month.month %>

  </p>
  <p>
    <strong><%=t('report_month.investing')%></strong>
    <%= report_month.investing %>
  </p>

  <!--p>
    <strong><%=t('report_month.expense')%></strong>
    <%= report_month.expense %>
  </p-->

  <p>
    <strong><%=t('report_month.entries')%></strong>
    <%= report_month.entries %>
  </p>


  <p>
    <strong><%=t('report_month.description')%></strong>
    <%= report_month.description %>
  </p>

  <!--p>
    <strong><%=t('report_month.profit_month')%></strong>
    <%= report_month.profit_month %>
  </p-->

</div>
